.cart-anchor {
  position: relative;
}
.cart__modal {
  position: fixed;
  /* inset: 0;  */
  top: 80px;
  z-index: 1000;
  background-color: white;
  /* padding: 1rem; */
  width: 95%;
  margin-inline: auto;
  /* height: 300px; */
  aspect-ratio: 2/1;

  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);

  left: 50%;
  transform: translateX(-50%);
}

.cart__header {
  margin-bottom: 2rem;
}
.cart__header h3 {
  /* margin-bottom: 1rem; */
  font-weight: 700;
  font-size: 17px;
  padding: 1.5rem;
}

.cart__item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

.cart__thumbnail {
  width: 50px;
  /* height: 30px; */
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.cart__text-content {
  line-height: 1.4;
}

.checkout__btn {
  width: 90%;
  margin-block: 2rem;
  margin-inline: 1rem;

  background-color: red;
  color: black;
  font-weight: 700;
  font-size: 15px;

  display: grid;
  place-self: center;

  padding: 1rem;

  border-radius: 10px;
}

.empty {
  display: grid;
  place-items: center;
  margin-block: 5rem;

  font-weight: 700;
}

@media (min-width: 768px) {
  .cart__modal {
    position: absolute;
    top: calc(100% + 1rem);
    right: 5%;
    width: 300px;
  }

  .cart__header {
    margin-bottom: 1rem;
  }

  .cart__header h3 {
    padding-bottom: 1rem;
  }
}
