/* ===== Root variables ===== */
:root {
  /* Breakpoints */
  --bp-small: 40rem; /* 600px   */
  --bp-md: 48em; /* 768px */
  --bp-lg: 64em; /* 1024px */
  --bp-xl: 80em; /* 1280px */

  /* Colors */
  --clr-primary-100: hsl(26, 100%, 55%);
  --clr-primary-50: hsl(25, 100%, 94%);

  --clr-neutral-900: hsl(220, 13%, 13%);
  --clr-neutral-700: hsl(219, 9%, 45%);
  --clr-neutral-500: hsl(220, 14%, 75%);
  --clr-neutral-300: hsl(223, 64%, 98%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(0, 0%, 0%, 15%);

  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --container-width: 72rem; /* 1152px */
}

/* ===== Base Resets ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  height: 100vh;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ===== Utilities ===== */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  width: min(100%, var(--container-width));
  margin-inline: auto;
  width: 90%;
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-orange {
  background-color: var(--clr-primary-100);
}

.bg-black {
  background-color: var(--clr-black);
}

/* ===== Header section styles ===== */
.header {
  background: black;
  color: var(--clr-white);
  padding-block: 2rem;
}

.main {
  background: blue;
  padding-block: 2rem;
}

/* ===== Main section styles ===== */
/* ===== Base Resets ===== */
/* ===== Base Resets ===== */
