/* ===== Root variables ===== */
:root {
  /* Breakpoints */
  --bp-small: 40rem; /* 600px   */
  --bp-md: 48em; /* 768px */
  --bp-lg: 64em; /* 1024px */
  --bp-xl: 80em; /* 1280px */

  /* Colors */
  --clr-primary-100: hsl(26, 100%, 55%);
  --clr-primary-50: hsl(25, 100%, 94%);

  --clr-neutral-900: hsl(220, 13%, 13%);
  --clr-neutral-700: hsl(219, 9%, 45%);
  --clr-neutral-500: hsl(220, 14%, 75%);
  --clr-neutral-300: hsl(223, 64%, 98%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(0, 0%, 0%, 15%);

  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --container-width: 72rem; /* 1152px */
}

/* ===== Base Resets ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: var(--clr-neutral-900);
  background-color: var(--clr-white);
  line-height: 1.5;
  min-height: 100vh;

  /* display: grid;
  grid-template-rows: min-content 1fr; */

  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ===== Utilities ===== */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 72rem;
  width: 90%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-orange {
  background-color: var(--clr-primary-100);
}

.bg-black {
  background-color: var(--clr-black);
}

.image--modifier {
  width: 20px;
  border-radius: 50%;
}

/* ===== Header section styles ===== */
.header {
  color: var(--clr-white);
}

.content {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-neutral-500);
  padding-block: 1rem;
}

.logo {
  height: 2rem;
  aspect-ratio: 1/1;
}

.primary-navigation {
  --underline-gap: 0.5rem;
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 30%;
  list-style: none;
  padding: min(20rem, 15vh) 2rem;
  margin: 0;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}

.mobile-nav-toggle {
  background: transparent;
  background-image: url(./images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(./images/icon-close.svg);
}

.mobile-nav-toggle:focus-visible {
  outline: 5px solid white;
  outline-offset: 5px;
}

@media (min-width: 35rem) {
  .mobile-nav-toggle {
    display: none;
  }
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(var(--clr-black));
  }
}

/* ===== Main section styles ===== */
/* ===== Base Resets ===== */
/* ===== Base Resets ===== */
