.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  display: block;
  width: 100%;
  /* height: auto; */
  object-fit: cover;
}

.toggleImages {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-50%);
}

.toggleImages button {
  background: var(--clr-100);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;

  cursor: pointer;
  transition: background 0.3s ease;
}

.toggleImages button img {
  width: 12px;
  height: 12px;
}

.content-container {
  width: 100%;
  margin-inline: auto;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.content__title {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.content__subtitle {
  font-size: 30px;
  font-weight: 700;
  color: var(--clr-900);
  text-transform: capitalize;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.content__text {
  font-size: 12px;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 500;
  line-height: 1.5;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.discount__price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content__discount-price {
  position: relative;
  font-size: 32px;
  color: var(--clr-900);
  font-weight: 700;
}

.price-percentage {
  background: var(--clr-900);
  color: var(--clr-100);
  padding: 0.25rem 0.5rem;

  border-radius: 5px;
  font-weight: 700;
}

.content__original-price {
  text-decoration: line-through;
  color: var(--clr-700);
  font-size: 20px;
  font-weight: 700;
}

.content-button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
  justify-content: center;
}

.cart__counter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-200);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;

  margin-bottom: 1rem;
}

.cart__counter-button span {
  font-weight: 700;
  font-size: 18px;
}

.add-to-cart-btn {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;
}

.add-to-cart-btn:disabled {
  background: var(--clr-primary-light);
  color: var(--clr-500);
  pointer-events: none;
}
.cart-icon {
  display: grid;
  place-items: center;
}

.cart-icon img {
  width: 16px;
  height: 16px;
}

.image-thumbnail-showcase {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;

    width: 950px;
    margin-inline: auto;
    margin-block: 5rem;
  }

  .content-container {
    margin-bottom: 1rem;
  }

  .toggleImages {
    display: none;
  }

  .img-container {
    width: 700px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .img-container img {
    border-radius: 10px;
  }
  .image-thumbnail-showcase {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .image-thumbnail-showcase img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    cursor: pointer;

    transition: opacity 0.3s ease, border 0.3s ease;
  }

  .image-thumbnail-showcase img:hover {
    opacity: 0.5;
  }

  .thumbnail.active {
    border: 2px solid var(--clr-primary);
    border-radius: 10px;
    opacity: 1;
  }

  .content__subtitle {
    width: 25ch;
  }

  .content__text {
    width: 50ch;
  }

  .price-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-button-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cart__counter-button {
    margin-bottom: 0;
    flex: 3;
  }

  .add-to-cart-btn {
    flex: 7;
  }
}
