.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  display: block;
  width: 100%;
  /* height: auto; */
  object-fit: cover;
}

.toggleImages {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-50%);
}

.toggleImages button {
  background: white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;

  cursor: pointer;
  transition: background 0.3s ease;
}

.toggleImages button img {
  width: 12px;
  height: 12px;
}

.content-container {
  width: 100%;
  margin-inline: auto;
  padding: 1.5rem;
  text-align: left;
}

.content__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.content__subtitle {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.content__text {
  font-size: 16px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.discount__price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content__discount-price {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}

.price-percentage {
  background: black;
  color: white;
  padding: 0.25rem 0.5rem;
  /* display: grid;
  place-items: center; */
  border-radius: 5px;
  font-weight: 700;
}

.content__original-price {
  text-decoration: line-through;
  color: gray;
  font-size: 20px;
  font-weight: 700;
}

.content-button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
  justify-content: center;
}

.cart__counter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f8fd;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;

  margin-bottom: 1rem;
}

.cart__counter-button span {
  font-weight: 700;
  font-size: 18px;
}

.add-to-cart-button-container {
  width: 100%;
  background: orange;
  padding: 1rem;

  display: grid;
  place-items: center;
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.add-to-cart-text {
  font-size: 15px;
  font-weight: 700;
}

.cart-icon {
  display: grid;
  place-items: center;
}

.cart-icon img {
  width: 16px;
  height: 16px;
}
