.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  background: #fff;
  /* gap: 1rem; */
  /* z-index: 100; */
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 10;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart__btn {
  position: relative;
}

.badge {
  position: absolute;
  top: -20%;
  font-weight: bold;
  background: blue;
  color: white;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  font-size: 0.5rem;
}

.profile {
  width: 40px;
}

.cart {
  width: 30px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75%;
  background: white;
  padding: 4rem 1.5rem;
  transition: left 0.3s ease;
  z-index: 100;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .overlay {
    display: none;
  }
}
