.nav {
  background: white;
  padding-inline: var(--page-padding);
}

.nav__container {
  height: 70px;
  width: 100%;
  max-width: 1024px;
  padding-block: clamp(1rem, 3vw, 3rem);

  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__links {
  display: none;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list a {
  text-decoration: none;
  color: var(--clr-900);
  font-weight: 700;
}

.nav__hamburger,
.mobile-menu__close {
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 1;
  /* outline: 1px solid red; */
}

.nav__hamburger:focus-visible,
.mobile-menu__close:focus-visible {
  outline: 2px solid var(--clr-900);
}

.nav__hamburger > img {
  width: 16px;
  aspect-ratio: 1/1;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
  max-width: 300px;
  background: var(--clr-100);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding: 2rem;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu__close {
  margin-bottom: 2.5rem;
}

.mobile-menu__close > img {
  width: 15px;
  aspect-ratio: 1/1;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 700;
}

.nav__right {
  display: flex;
  gap: 0.5rem;
}

.nav__cart,
.nav__profile {
  width: 25px;
  aspect-ratio: 1/1;
}

.nav__cart {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -3px;
  background: var(--clr-primary);
  border-radius: 5rem;
  padding: 0.1rem 0.6rem;
  font-size: 0.5rem;
  color: white;
  font-weight: 700;
  /* display: none; */
}

@media (min-width: 768px) {
  .nav__container {
    border-bottom: 1px solid var(--clr-500);
  }
  .nav__hamburger {
    display: none;
  }

  .nav__left {
    gap: 4rem;
  }

  .nav__links {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .nav__list a {
    position: relative;
    display: inline-flex;
    align-items: center;

    height: 100%;
    color: var(--clr-700);
    font-size: 14px;
  }

  .nav__list a:hover {
    color: var(--clr-900);
  }

  .nav__list a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    height: 3px;

    background-color: var(--clr-primary-dark);

    bottom: -29px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease, opacity 0.2s ease;
  }

  .nav__list a:hover::after,
  .nav__list a:focus-visible::after {
    opacity: 1;
    transform: scaleX(1);
  }

  .mobile-menu,
  .overlay {
    display: none;
  }

  .nav__right {
    gap: 1rem;
  }
}
