.header {
  background: white;
}

.header__content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.menuBtn {
  display: grid;
  place-self: center;
  outline: 2px solid black;
  padding: 0.2rem;
  z-index: 2000;
}

.menuBtn > img {
  width: 15px;
  aspect-ratio: 1/1;
}

.icons {
  display: flex;
  gap: 1rem;
}

.cart__btn {
  position: relative;
}

.cart {
  width: 20px;
}

.badge {
  position: absolute;
  top: -3px;
  background: blue; /* change to the one in the design */
  border-radius: 5rem;
  padding: 0.1rem 0.6rem;
  font-size: 0.5rem;
  color: white;
}

.profile {
  width: 30px;
}

.nav__menu {
  position: fixed;
  left: 0; /*change to 0 on open */
  top: 0;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.nav__menu.open {
  transform: translateX(0);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: red;
  height: 100vh;
  width: 260px;
  padding: 7rem 2rem;
}

@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
