/* ================ VARIABLES ================== */
:root {
  --clr-primary: blue;

  --max-width: 1280px;
  --page-padding: clamp(1rem, 8vw, 10rem);
}

/* ================ RESETS ================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  padding-inline: var(--page-padding);
  /* margin-inline: auto; */
}

.header__container {
  /* height: 100px; */
  padding-block: clamp(1rem, 3vw, 3rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__container {
    border-bottom: 2px solid blue;
  }
}
