/* ================ VARIABLES ================== */
:root {
  --clr-primary: blue;

  --max-width: 1280px;
  --page-padding: clamp(1rem, 8vw, 10rem);
}

/* ================ RESETS ================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: var(--page-padding);
  margin-inline: auto;
}
